/* Responsive  */
/* hasta 1200px  */
@media (max-width: 1200px) {
    .container_login {
      max-width: map-get($porcentajes,fase10);
      @include flex(block,center,center);
      flex-wrap: wrap;
    }
    .form {
      max-width: map-get($porcentajes,fase7);
      position: relative;
      top: 16.12rem;
      @include flex(flex,center,center);
      flex-direction: column;
      gap: 20px;
    }
    .h1_principal {
      @include flex(flex,center,center);
      margin: 10px;
      color: map-get($colores,login-registro);
      font-size: 2.5rem;
    }
  }
  /* 576px */
  @media (max-width: 576px) {
    .container_login {
      max-width: map-get($porcentajes,fase10);
      @include flex(block,center,center);
      flex-wrap: wrap;
    }
  
    .form {
      max-width: 55%;
      top: 9.37rem;
      @include flex(flex,center,center);
      flex-direction: column;
      gap: 20px;
    }
    .h1_principal {
      @include flex(flex,center,center);
      text-align: center;
      margin: 20px;
      color: map-get($colores,login-registro);
      font-size: 2.5rem;
    }
  }
  /* desde 320px hasta 575px */
  @media (min-width: 320px) and (max-width: 575px) {
    .logo_login {
      width: 9.37rem;
      height: 7.5rem;
    }
    .container {
      max-width: map-get($porcentajes,fase10);
      @include flex(block,left,center);
      flex-wrap: wrap;
    }
    .form {
      max-width: 70%;
      top: 9.37rem;
      left: 3rem;
      @include flex(flex,center,center);
      flex-direction: column;
      gap: 20px;
    }
    .h1_principal {
      @include flex(flex,center,center);
      text-align: center;
      margin: 20px;
      color: map-get($colores,login-registro);
      font-size: 2.5rem;
    }
    .span_login {
      @include flex(flex,left,center);
      margin-top: 14.5px;
      padding: 0 65px;
      font-size: 1.12rem;
      font-weight: 600;
      font-family: "Monomaniac One", sans-serif;
      color: map-get($colores,login-registro);
      box-shadow: 0 10px 20px 0 map-get($colores,login-registro);
    }
  }
  