$colores:(
    primario:#71c71b,
    secundario:#cfbcc8,
    terciario:#000000bb,
    terciario-bold:black,
    cuartenario:#ff4500,
    quinario:#00d5ffe4,
    sextario: transparent,
    login-registro:#ff1493
);

$porcentajes:(
    fase1:10%,
    fase2:20%,
    fase3:30%,
    fase4:40%,
    fase5:50%,
    fase6:60%,
    fase7:70%,
    fase8:80%,
    fase9:90%,
    fase10:100%
);
