$color-tipografia:#fff;        /*color tipografia contenidos*/
$color-iconos:rgb(255, 251, 0);/*color de mis iconos/todos*/
$borde:5px red solid;          /*bordes decontenido*/
$decoracion:none;                /*anulo decoraciones*/
$font-titulo:'Bowlby One SC', sans-serif;
$font-texto:'Rakkas', serif;     