/* Acerca de nosotros  */
#About {
    width:  map-get($porcentajes,fase10);
    @include flex(flex,center,center);
    flex-direction: column;
    flex-wrap: wrap;
    .about-title {
      font-size: 2.5rem;
      text-align: center;
      color: map-get($colores,primario);
      margin-top: 210px;
      font-family: $font-titulo;
      
    }
    .about-text {
      text-align: center;
      font-size: 1.5rem;
      margin-top: 30px;
      color: $color-tipografia;
      font-family: $font-texto;      
    }
  }

