/*  Productos */
#Products {
    width: map-get($porcentajes,fase10);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    .title-products-cont {
      width: map-get($porcentajes,fase9);
      @extend%flex-center;
      margin-top: 160px;
      .products-title {
        font-size: 2.25rem;
        text-align: center;
        color: map-get($colores,primario);
        margin-top: 50px;
        font-family: $font-titulo;
        
      }
    }
  }
  .categorias {
    width: 90%;
    @extend%flex-center;
    font-size: 2.25rem;
    h2 {
      font-size: 2.25rem;
      font-family: 'Bowlby One SC', sans-serif;  
      background-color: map-get($colores,sextario);
      color: map-get($colores,primario);
      text-align: center;
      margin: 40px;
      
    }
  }
  .categorias-container{
    width: map-get($porcentajes,fase9);
    @extend%flex-center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
    font-family: $font-titulo;
    a {
      font-size: 1.25rem; 
      display: inline-block;
      padding: 10px;
      background-color:map-get($colores,terciario);
      border-radius: 10px;
      color: $color-tipografia;
      cursor: pointer;
      text-decoration:  $decoracion;
      text-align: center;
      box-shadow: 0px 0px 37px 8px #71c71b;      
    }
  }
  #Mother,
  #Micros,
  #Cooler,
  #Ram,
  #Discos,
  #Psu,
  #Torres,
  #Vga,
  #Screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:$font-texto;
    .title-cont {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1.87rem;
      font-weight: 800;
      background-color: map-get($colores,sextario);
      color:$color-iconos;
      margin-top: 170px;
      text-transform: uppercase
    }
    .products-container {
      @extend%flex-center;
      flex-wrap: wrap;
      margin-top: 40px;
      .card {
        @extend%flex-center;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0 80px;
        gap: 10px;
        max-width: 20rem;
        background-color:map-get($colores,sextario);
        .card-img {
          max-width: 18.75rem;
        }
        .card-title {
          background-color:map-get($colores,sextario);
          text-align: center;
          font-size: 1.5rem;
          font-weight: 800;
          color: $color-tipografia;
          border: 3px solid map-get($colores,primario);
          padding: 10px ;

        }
        .card-text {
          background-color:map-get($colores,sextario);
          text-align: center;
          font-size: 1.37rem;
          color: $color-tipografia;
        }
        span {
          background-color:map-get($colores,sextario);
          text-align: center;
          font-size: 1.37rem;
          font-weight: 800;
          color: map-get($colores,primario);
        }
        .card-btn {
          @extend%flex-center;
          text-align: center;
          font-size: 1.87rem;
          background-color:$color-iconos;
          color: map-get($colores,terciario-bold);
          cursor: pointer;
          border: 1px solid $color-tipografia;
          border-radius: 8px;
          box-shadow: 2px 2px 2px 1px rgba(235, 227, 227, 0.7);
          margin: 15px 15px;
          padding:0px 20px;
        }
      }
      
    }
  }


