@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");
/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  background-size: cover;
  font-family: "Chakra Petch", sans-serif;
}